n8n.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "830ffbce-0c72-4bf6-932c-d5cb1e6ab222",
      "name": "When clicking 'Test Workflow' button",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -320,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfilesdemo",
          "mode": "list",
          "cachedResultName": "n8nfilesdemo"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "fcce8ae8-41c7-4659-9ab3-6773c2db9dd4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        460,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "boerJTWYhePI31cW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d4fe8773-0426-43a5-82f3-a4f1d08e5ba8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1000,
        100
      ],
      "webhookId": "dec328cc-f47e-4727-b1c5-7370be86a958",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68a6e2db-73c2-4182-877a-7f6cdd88d490",
      "name": "Question & Answer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1240,
        100
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d08ef1f5-932b-4bbb-bb02-0cbdff26a636",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1ghCrOjR8Z-vFregs3oGslZuF2VrbHQiy/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "id": "fc215f5f-62f3-4d67-8c5f-edca0ec7f95c",
      "name": "Set Google Drive file URL",
      "type": "n8n-nodes-base.set",
      "position": [
        -40,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.file_url }}"
        },
        "options": {}
      },
      "id": "addc3ccd-2fa7-4d83-a054-d7ee28531911",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        200,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wmnKZ0UH3qWlfwPS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "2a5d4a34-e078-4c3d-bdda-9d3ca9045145",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        560,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "5f6f6e4d-3266-4d78-98a6-f6008418c961",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        460,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82a6a55d-09f5-4a56-bed9-8fe089f8b491",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1440,
        440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JxgPJa5YNWkxTq1z",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2690446e-7251-4fc2-b706-88cf5d2c665b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        240,
        380
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JxgPJa5YNWkxTq1z",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Jagdish_Iron_knowledge_base",
        "toolDescription": "Call this tool to retrieve facts on the continuous casting process ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfilesdemo",
          "mode": "list",
          "cachedResultName": "n8nfilesdemo"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "2378a695-381a-4e24-9e18-59cdcb9dd973",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1400,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "boerJTWYhePI31cW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b81e44de-7c97-40d3-99ce-921b80736cfa",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1200,
        300
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JxgPJa5YNWkxTq1z",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test Workflow' button": {
      "main": [
        [
          {
            "node": "Set Google Drive file URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question & Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Google Drive file URL": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Question & Answer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question & Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c04ffdfd21410610d5c67b9eeeb04968d57502ae2c7850c2ecfd0535a9205946"
  }
}
